extends layout

block content
  h1= title
  p Welcome to #{title}

   div.bs-docs-section
        div.row
            div
                div.page-header
                    h2#typography= title
                div.bs-component
                    table.table.table-striped
                        thead
                            tr
                                th Name
                                th
                                th Description
                                th
                        tbody
                            for object in workouts
                                tr
                                    td= object.name
                                    td                                      
                                        td= object.description
                                        td
                                          //div.btn-group.btn-lg
                                              a.btn.btn-primary.btn-lg(href="/user/" + object._id + "/workouts")= 'Workouts '
                                                  span.badge= object.workouts.length