extends layout

block content
  h1= title
  p Welcome to #{title}

    div.bs-docs-section
        div.row
                div.page-header
                    h1#typography= title
                div.bs-component
                    table.table.table-striped
                        thead
                            tr
                                th Name
                                th Description
                                th Set
                                th Reps/time
                                th
                        tbody
                            for object in exercises
                                tr
                                    td= object.name
                                    td= object.description
                                    td= object.sets
                                    td= object.reps