extends layout

block content
  h1= title
  p Welcome to #{title}

  div.bs-docs-section
      div.row
          div
              div.page-header
                  h1#typography= title
              div.bs-component
                  table.table.table-striped
                      thead
                          tr
                              th Name
                              th Description
                              th
                      tbody
                          for object in workouts
                              tr
                                  td= object.name
                                  td= object.description
                                  td
                                      div.btn-group.btn-lg
                                          a.btn.btn-primary.btn-lg(href="/user/" + userId + "/workouts/" + object._id + "/exercises" )= 'Exercises '