extends layout

block content
  h1= title
  p Welcome to #{title}

  div.bs-docs-section
      div.row
          div
              div.page-header
                  h1#typography= title
              div.bs-component
                  table.table.table-striped
                      thead
                          tr
                              th Name
                              th Description
                              th
                      tbody
                          for object in workouts
                              tr
                                  td= object.name
                                  td= object.description
                                  td
                                      div.btn-group.btn-lg
                                          a.btn.btn-primary.btn-lg(href="/user/" + userId + "/workouts/" + object._id + "/exercises" )= 'Exercises '
                                              span.badge= object.exercises.length
                          form.form-inline(method='POST' action='/user/' + userId + '/workouts/createWorkout')
                              tr
                                  td
                                      input#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(undefined === workout ? '' : workout.name) )
                                  td
                                      input#description.form-control(type='text', placeholder='Description' name='description' value=(undefined === workout ? '' : workout.description) )
                                  td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Add workout